@import url(../blocks/about.css);
@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.5);
    opacity: 0.6;
  }
}

.about {
  background-color: #0a2850;
  /* padding: 100px 80px; */
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
}

.about__title {
  color: #fff;
  max-width: 251px;
  margin: 0;
  z-index: 2;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  position: relative;
  top: 100px;
  left: 80px;
}

.about__content {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  max-width: 660px;
  z-index: 2;
  gap: 20px;
  margin: 119px -80px 173px 500px;
}

.about__paragraph {
  color: #fff;
  margin: 0;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: -152px;
  left: -129px;
}
.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out 0s infinite;
}
