@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.5);
    opacity: 0%;
  }
}

.about {
  background-color: #0a2850;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.about__title {
  color: #fff;
  max-width: 251px;
  margin: 0;
  z-index: 2;
  font-family: "Inter", Arial, Times new roman;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  display: flex;
  margin: 100px 80px 0;
}

.about__content {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  max-width: 660px;
  z-index: 2;
  margin: 119px 80px 173px 0;
  display: flex;
  flex-direction: column;
}

.about__paragraph {
  color: #fff;
  margin: 20px 0 0 0;
  font-family: "Noto Serif", Arial, Times new roman;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph:first-of-type {
  margin: 0;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: -152px;
  left: -129px;
}
.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out 0s infinite;
}
