.card {
  display: flex;
  flex-direction: column;
  width: 540px;
  margin: 0;
}

.card__title {
  margin-bottom: 32px;
  font-family: "Inter", Arial, Times new roman;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
}

.card__list {
  display: flex;
  flex-direction: column;
  width: 540px;
  margin: 0;
  padding: 0;
}

.card__list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  font-family: "Noto Serif", Arial, Times new roman;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-item:last-of-type {
  margin: 0;
}

.card__list-divider {
  font-family: "Inter", Arial, Times new roman;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  flex: 1;
  border-bottom: 1px solid #000;
}
