@import url(../blocks/footer.css);
.footer__content {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  box-sizing: border-box;
  padding: 60px 100px 168px 80px;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social-heading {
  color: #fff;
  margin: 0 0 20px;
  font-size: 16px;
}

.footer__list {
  color: #fff;
  display: flex;
  flex-direction: row-reverse;
}

.footer__list-item {
  list-style: none;
  margin: 0 0 16px 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
}

.footer__social-link {
  color: #fff;
}

.footer__social-link:hover {
  color: #c1c1c1;
  transition: 0.1s;
}

.footer__copyright {
  color: #fff;
  margin: 0 0 60px 0;
}

/* .footer__link {
} */
