.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.form__label {
  margin-bottom: 8px;
  font-family: "Inter", serif, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  min-width: 385px;
}

.form__input {
  border: none;
  max-width: 385px;
  min-width: 385px;
  height: 60px;
  margin-bottom: 32px;
}

.form__button {
  height: 60px;
  max-width: 385px;
  width: 385px;
  font-family: "Inter", serif, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background: #2f80ed;
  color: #fff;
  border-radius: 4px;
  opacity: 100%;
  cursor: pointer;
  margin-bottom: 32px;
}

.form__button:hover {
  opacity: 70%;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.form__label_type_checkbox {
  vertical-align: middle;
  font-family: "Inter", serif, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 120px;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
}

.form__checkbox {
  margin-bottom: 0;
  margin-right: 12px;
  min-width: 20px;
  min-height: 20px;
  border-radius: 2px;
}

.form__checkbox {
  border: none;
  border-radius: 2px;
}
