.menu {
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
}

.menu__cards {
  display: flex;
  list-style: none;
  gap: 100px;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 100px;
  flex-wrap: wrap;
  padding: 0;
}

.menu__title {
  padding-top: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 780px;
  margin: 100px auto 24px auto;
  text-align: center;
}

.menu__subtitle {
  text-align: center;
  margin: 0;
  font-family: "Noto Serif", Times new roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
