.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  margin: 30px 0 0px 30px;
  position: relative;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  column-gap: 20px;
  margin: 30px 80px 0 0;
  padding-left: 0;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-family: "Inter", serif, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
  color: #1f69c9;
  transition: trnasform 0.2s ease;
}
