.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0 0 0;
}

.recipes__title {
  margin: 0 0 24px 80px;
  max-width: 580px;
  font-family: "Inter", Arial, Times new roman;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
}

.recipes__subtitle {
  margin: 0 0 80px 80px;
  font-family: "Noto Serif", Arial, Times new roman;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.recipes__videos {
  list-style: none;
  border: none;
  margin: 0;
  display: flex;
  justify-content: center;
  column-gap: 40px;
  padding: 0;
}

.recipes__iframe {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  column-gap: 40px;
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  font-family: "Inter", Arial, Times new roman;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  display: flex;
  margin: 24px 0 215px 0;
  justify-content: space-between;
}
