.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation__title {
  padding: 100px 0 80px 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Inter", Arial, Times new roman;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
}

.reservation__form {
  border: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}
