.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  box-sizing: border-box;
  background-size: cover;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  margin: 30px 0 0px 30px;
  position: relative;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  column-gap: 20px;
  margin: 30px 80px 0 0;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #1f69c9;
}

.header__title {
  margin: 183px 0 0 80px;
  display: flex;
  font-size: 66px;
  line-height: 76px;
  max-width: 544px;
  height: 150px;
  font-weight: 500;
  color: #2f80ed;
  font-style: italic;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  max-width: 729px;
}

.span-accent {
  display: block;
  color: #000;
  font-style: normal;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0 80px;
  max-width: 683px;
}

.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  height: 568px;
  width: 646px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.content_hours {
  margin: 0 0 40px 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  list-style: none;
}

.open_and_closing_hours {
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.header__address {
  margin: 0 80px 40px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.recipes {
  background-color: #0a2750;
  padding: 100px 0 120px 80px;
  min-height: 720px;
  max-height: 800px;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.recipes__title {
  margin: 100px 0 24px 80px;
  max-width: 500px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
}

.recipes__subtitle {
  margin: 0 0 80px 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.recipes__videos {
  margin: auto;
}

.recipes__iframe {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  column-gap: 40px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  column-gap: 40px;
}

.videos {
  width: 480px;
  height: 273px;
}

.left_text {
  margin: 24px 0 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  display: flex;
}

.right_text {
  margin: 24px 0 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  display: flex;
  position: relative;
  left: 415px;
  bottom: 55px;
}

.right_text_2 {
  margin: 24px 0 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  display: flex;
  position: relative;
  left: 405px;
  bottom: 55px;
}
