.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  box-sizing: border-box;
  background-size: cover;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  margin: 30px 0 0px 30px;
  position: relative;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  column-gap: 20px;
  margin: 30px 80px 0 0;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #1f69c9;
}

.header__title {
  margin: 183px 0 0 80px;
  display: flex;
  font-size: 66px;
  line-height: 76px;
  max-width: 544px;
  height: 150px;
  font-weight: 500;
  color: #2f80ed;
  font-style: italic;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  max-width: 729px;
}

.span-accent {
  display: block;
  color: #000;
  font-style: normal;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0 80px;
  max-width: 683px;
}

.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  height: 568px;
  width: 646px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__paragraph {
  margin: 0 0 40px 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.header__address {
  margin: 0 80px 40px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.recipes {
  background-color: #0a2750;
  padding: 100px 0 120px 80px;
  min-height: 720px;
  max-height: 800px;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.recipes__title {
  margin: 100px 0 24px 80px;
  max-width: 500px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
}

.recipes__subtitle {
  margin: 0 0 80px 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.recipes__videos {
  margin: auto;
}

.recipes__iframe {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  column-gap: 40px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  column-gap: 40px;
}

.videos {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  display: flex;
  position: relative;
  top: 24px;
  justify-content: space-between;
}

.reservation {
  min-height: 110vh;
  /* max-height: 100vh; */
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form__fieldset {
  border: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reservation__title {
  margin: 0 0 80px 0;
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  position: relative;
  top: 80px;
  border: none;
}

.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-bottom: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

input::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__input {
  border: none;
  max-width: 385px;
  min-width: 385px;
  height: 60px;
  margin-bottom: 32px;
}

.form__button {
  height: 60px;
  max-width: 385px;
  width: 385px;
  position: relative;
  right: 12px;
  top: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background: #2f80ed;
  color: #fff;
  border-radius: 4px;
  opacity: 100%;
}

.form__button:hover {
  opacity: 70%;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.form__label-checkbox {
  vertical-align: middle;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 120px;
  border: none;
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
  justify-content: center;
}

.form__input_type_checkbox {
  position: relative;
  top: 24px;
  margin-right: 12px;
  min-width: 20px;
  min-height: 20px;
}

.checkbox {
  min-width: 20px;
  min-height: 20px;
  display: block;
}

.form__checkbox {
  border: none;
  border-radius: 2px;
}

/* input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  border-radius: 100%;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  transform: scale(0);
} */
